/* Estilos generales */
body {
  background-color: white; /* Color de fondo suave para generar contraste */
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Estilos del encabezado del perfil */
.profile-header {
  text-align: center;
  background-color: #0B2F9F; /* Fondo azul oscuro para resaltar la foto y nombre */
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.profile-header p {
  font-size: 16px;
  margin: 5px 0;
}

/* Estilos para las tarjetas de información */
.card {
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  height: 250px;
}

.card-header {
  background-color: #161D6F; /* Azul oscuro para resaltar los títulos */
  color: #fff;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-header h5 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-body p {
  font-size: 14px;
  color: #333;
}

strong {
  color: #0B2F9F; /* Azul intermedio para destacar los títulos */
}

/* Estilos de los botones */
.btn-custom {
  background-color: #161D6F;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-custom:hover {
  background-color: #0B2F9F;
  color: #C7FFD8;
  transition: background-color 0.3s;
}


/* Estilos para los modales */
.modal-header {
  background-color: #161D6F;
  color: #fff;
}

.modal-footer .btn-custom {
  background-color: #0B2F9F;
  color: #fff;
}

/* Estilos adicionales */
.mt-4 {
  margin-top: 1.5rem;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.me-3 {
  margin-right: 1rem;
}
