<div class="container mt-4">
  <div class="row">
    <!-- Formulario para registrar un ticket -->
     <form class="col-md-6" [formGroup]="myForm" (submit)="createTicket()">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4>Registrar un Nuevo Ticket</h4>
        </div>
        <div class="card-body">
            <!-- Selección del problema predefinido -->
            <div class="mb-3">
              <label for="problemType"
              class="form-label">Seleccionar Tipo de Problema</label>
              <select
              class="form-select"
              id="problemType" required
              formControlName="problemType">
                <option value="0">-- Selecciona un problema --</option>
                <option value="1">No tengo agua potable</option>
                <option value="2">El agua llega sucia</option>
                <option value="3">Llega muy poca agua</option>
                <option value="4">Tuberia rota en calle</option>
                <option value="5">Otros</option>
              </select>
            </div>

            <!-- Descripción del problema -->
            <div class="mb-3">
              <label
              for="problemDescription"
              class="form-label">Descripción del Problema</label>
              <textarea
              class="form-control"
              formControlName="description"
              rows="4"
              placeholder="Describe tu problema aquí..."
              required></textarea>
            </div>

            <!-- Botón para enviar el ticket -->
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Registrar Ticket</button>
            </div>
        </div>
      </div>
  </form>

    <!-- Historial de tickets -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h4>Historial de Tickets</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <!-- Ejemplo de ticket -->
            <li *ngFor="let ticket of tickets | paginate: { itemsPerPage: 5, currentPage: p } ; let i = index" class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>
                  <h5 class="mb-1">Ticket #{{i + 1}}: {{ticket._id}}</h5>
                  <p class="mb-1"> Fecha: {{ ticket.CreatedAt | date: 'yyyy-MM-dd' }}</p>
                  <p class="mb-1"><strong>Estado:</strong> {{ticket.status}}</p>
                </div>
                <button class="btn btn-outline-info btn-sm">Ver Detalles</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
