.container {
  margin-top: 50px;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.btn-outline-light {
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-light:hover {
  background-color: #0B2F9F;
  color: white;
}
