.sidebar-container{
  height: 100vh;
  width: 15%;
  padding: 0;
  margin-top: 0;
}

.container-principal{
  display: flex;
  margin-top: 0;
  height: 100vh;
  width: 100%;
}

.container-router{
width: 85%;
margin-top: 70px;
flex: 1;
height: 100%;
}

.container-router.sidebar-hidden{
  width: 97%;
  position: absolute;
  margin-left: 50px;
  transition: 0.5s ease-in-out;
}

app-navbar {
  position: fixed;
  top: 0; /* Asegúrate de que esté en la parte superior */
  left: 220px; /* Ajusta según el ancho del sidebar */
  width: calc(100% - 220px); /* Asegúrate de que ocupe el resto del ancho */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

app-navbar.navbar-hidden{
  margin-left: 50px;
  transition: 0.5s ease-in-out;
  width: 97%;
  left: 0;
}

.hidden{
  height: 100vh;
  width: 3%;
  padding: 0;
  margin-top: 0;
  position: absolute;
  color: #000;
}

