.sidebar {
  height: 100vh;
  width: 100%;
  background-color: #0d6efd ;
  padding: 0 20px;
}

.unorded-list {
  padding: 0;
}

.unorded-list li {
  list-style: none;
  margin-bottom: 2px;
}

a {
  color: black;
  text-decoration: none;
}

li {
  width: 100%;
}
