
<div class="sidebar" [ngClass]="{'collapsed': isSidebarCollapsed}">
  <!-- Sección del usuario logueado -->
  <div class="user-info d-flex align-items-center mb-4">
    <img [src]="userPhotoUrl" alt="No hay imagen cargada" class="user-photo rounded-circle me-2" >
    <div class="user-details" style="color: white;">
      <h6 class="text-white mb-0">{{userName}}</h6>
      <small class="text-white mb-0">{{userRole}}</small>
    </div>
  </div>

  <!-- Lista de opciones del sidebar -->
  <ul class="unorded-list list-unstyled" style="color: white; margin-top: 20px;">
    <ng-container *ngFor="let item of items">
      <li *ngIf="item.rolesAllowed.includes(userRole)" style="cursor: pointer;" [routerLink]="item.route">
        <i [class]="item.icon" style="font-size: 28px; color: #98DED9; margin-left: 0; margin-right: 10px;"></i>
        <span>{{ item.name }}</span>
      </li>
    </ng-container>
  </ul>
</div>
