.sidebar {
  height: 100vh; /* Mantiene el sidebar con la altura completa de la ventana */
  overflow-y: auto; /* Permite el desplazamiento en el sidebar si es necesario */
  width: 220px; /* Ancho del sidebar */
  background-color: #161D6F; /* Color de fondo del sidebar */
  color: white; /* Color del texto */
  top: 0;
  left: 0;
  padding: 10px; /* Espaciado */
  position: fixed; /* Mantiene el sidebar fijo en su lugar */
  transition: width 0.3s; /* Transición suave */
}

.sidebar.collapsed {
  width: 50px; /* Ajusta el ancho cuando esté colapsado */
}

.sidebar.collapsed .user-info,
.sidebar.collapsed .unorded-list li span {
  display: none; /* Oculta el texto del usuario y de los ítems */
}

.sidebar.collapsed .unorded-list li {
  justify-content: center; /* Centra los íconos cuando esté colapsado */
}

.unorded-list li {
  display: flex; /* Asegura que los elementos de la lista estén en fila */
  align-items: center; /* Alinea verticalmente el contenido */
  width: 100%; /* Asegura que los elementos de la lista ocupen todo el ancho */
}

li:hover {
  background-color: #0B2F9F; /* Color al pasar el ratón */
}


.user-photo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar.collapsed .user-photo{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  text-align: center;
}

.user-details h6 {
  margin-bottom: 0;
  font-size: 16px;
}

.sidebar.collapsed .user-details{
  display: none;
}

.user-details small {
  color: #98DED9;
}

