.sidebar {
  height: 100vh;
  overflow-y: auto;
  width: 220px;
  background-color: #161D6F;
  color: white;
  top: 0;
  left: 0;
  position: fixed;
  transition: 0.5s ease-in-out;
}

.sidebar.collapsed {
  width: 50px;
}

.sidebar.collapsed .user-info,
.sidebar.collapsed .unorded-list li span {
  display: none;
  padding: 10px;
}

.sidebar.collapsed .unorded-list li {
  justify-content: center;
}

.unorded-list li {
  display: flex;
  align-items: center;
  width: 100%;
}

li:hover {
  width: 100%;
  background-color: #0B2F9F;
  color: white;
}

li .icon {
  font-size: 26px;
  color: #F5F5F5;
  margin-left: 0;
  margin-right: 10px;
}

li:hover .icon {
  color: #161D6F;
}

.user-photo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar.collapsed .user-photo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  text-align: center;
}

.user-details h5 {
  margin-bottom: 0;
  font-size: 16px;
}

.sidebar.collapsed .user-details {
  display: none;
}

.user-details small {
  color: #F5F5F5;
  font-size: 11px;
}
