<div class="container-fluid p-4">
  <!-- Título del Dashboard y Botón de Cerrar Sesión -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary">Proagua - Servicios de Agua Potable</h2>

    <div class="d-flex align-items-center">
      <!-- Barra de Búsqueda -->
      <form class="d-flex me-3">
        <input class="form-control me-2" type="text" name="search" [(ngModel)]="searchTerm" (input)="filterUsers()"
          placeholder="Buscar cliente" aria-label="Buscar">
      </form>

      <!-- Botón de Cerrar Sesión -->
      <button class="btn btn-outline-danger" (click)="closeSesion()" type="button">Cerrar Sesión</button>
    </div>
  </div>

  <!-- Sección de Estadísticas -->
  <div class="row mb-4">
    <!-- Clientes Activos -->
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Clientes Activos</h5>
          <p class="card-text display-4">{{ activeUsersCount }}</p>
        </div>
      </div>
    </div>

    <!-- Clientes Suspendidos -->
    <div class="col-md-4">
      <div class="card text-white bg-danger mb-3">
        <div class="card-body">
          <h5 class="card-title">Clientes Suspendidos</h5>
          <p class="card-text display-4">{{ suspendedUsersCount }}</p>
        </div>
      </div>
    </div>

    <!-- Tickets Pendientes -->
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Tickets Pendientes</h5>
          <p class="card-text display-4">10</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Lista de Clientes -->
  <div class="card">
    <div class="card-header bg-light text-black">
      Lista de usuarios
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre del Cliente</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Usuario</th>
            <th>Tickets</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>
              <span [class.badge]="true" [class.text-bg-success]="user.status === true"
                [class.text-bg-danger]="user.status === false" class="rounded-pill">
                {{ user.status === true ? 'Activo' : 'Suspendido' }}
              </span>

            </td>
            <td><button type="button" class="btn btn-outline-info">OJO</button></td>
            <td><button type="button" class="btn btn-outline-info">OJO</button></td>
          </tr>
        </tbody>
      </table>

      <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
