/* Ajusta el tamaño del card */
.card-registration {
  max-width: 900px; /* Aumenta el ancho máximo del card */
  margin: auto; /* Centra el card horizontalmente */
}

/* Ajusta el tamaño de los inputs y botones */
.form-control-sm {
  font-size: 1rem; /* Tamaño de texto más grande en inputs */
  padding: 0.75rem; /* Ajusta el padding para hacerlo más grande */
}

.btn-sm {
  font-size: 1rem; /* Tamaño de texto más grande en botones */
  padding: 0.75rem 1.5rem; /* Ajusta el padding para hacerlo más grande */
}

/* Ajusta el tamaño de los selects */
.form-select-lg {
  font-size: 1rem; /* Tamaño de texto en selects */
  padding: 0.75rem; /* Padding para hacerlos más grandes */
  border-radius: 0.375rem; /* Borde redondeado */
}

/* Asegura que los selects tengan el color de fondo blanco y texto negro */
.form-select {
  background-color: #ffffff;
  color: #495057;
}

/* Estilo para las etiquetas de los selects */
.form-label {
  color: #ffffff; /* Color del texto de las etiquetas */
}
