/* Para que ocupe toda la pantalla */
.h-100 {
  height: 100vh; /* 100% de la altura del viewport */
}

.w-100 {
  width: 100%; /* 100% del ancho disponible */
}

.container-fluid {
  padding: 0;
}

.card-registration {
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 100%; /* Ocupa todo el alto disponible */
  margin: 0; /* Elimina los márgenes */
}

/* Ajusta el tamaño de los inputs y selects */
.form-control-sm, .form-select-lg {
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  padding: 0.75rem; /* Añade espacio interno */
}

.btn-sm {
  font-size: 1rem; /* Tamaño del texto del botón */
  padding: 0.75rem 1.5rem; /* Ajusta el padding del botón */
}

/* Elimina el espacio exterior no necesario */
.section, .card-body, .row {
  padding: 0;
  margin: 0;
}

textarea{
  resize: none;
}
