/* Para que ocupe toda la pantalla */
.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.card-registration {
  width: 100%;
  height: 100%;
  margin: 0;
}

.form-control-sm, .form-select-lg {
  font-size: 1rem;
  padding: 0.75rem;
}

.btn-sm {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.section, .card-body, .row {
  padding: 0;
  margin: 0;
}

textarea{
  resize: none;

}

.form-label{
  color:#161D6F ;
}

.btSend{
  background-color: #0B2F9F;
  color: white;
}

.btSend:hover{
  background-color: #0B2F9F;
  color: #C7FFD8;
}


/* Para que ocupe toda la pantalla */
