@import 'ngx-toastr/toastr';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden
}

/* Estilo de fuente global */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;}

